AWS_REGION= # Your AWS Region
S3_BUCKET= #
S3_TEST_DATA_PREFIX=test-data/
PIPELINE_TABLE= # DynamoDB Table
TERM_TABLE= # DynamoDB Table
AWS_ACCESS_KEY_ID= 
AWS_SECRET_ACCESS_KEY=
AWS_URI_PREFIX=
AWS_ECR_REPO=
LAMBDA_ROLE_ARN=
LAMBDA_PREFIX=
REDIS_URL=
REDIS_PREFIX=
PRODUCTION_DOMAIN=
