AWS_REGION= # Your AWS Region
S3_BUCKET= # 
PIPELINE_TABLE= # Your DynamoDB Table
AWS_ACCESS_KEY_ID= 
AWS_SECRET_ACCESS_KEY=
AWS_URI_PREFIX= # ***********.dkr.ecr.us-east-1.amazonaws.com
AWS_ECR_REPO= 
LAMBDA_ROLE_ARN=
LAMBDA_PREFIX=